// out: ../../style.css, sourcemap: true, compress: true
//compress (bool): compress CSS file
@btn-blue: #0859b0;
@light-blue: #3c77ab;
@white: #fff;
@blue: #041c43;
@light-blue: #133367;
@light: #234070;
@white: #fff;
@light-grey: #faf9fa;
@grey: #f5f5f5;
@dark-grey: #dddddd;
@red: #ff0000;
@border: #9e9e9e;

body{
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  font-family: sans-serif;
  font-size: 17px;

  .container{
    width: 90%;
    margin: auto;
    background: @white;

    .project{
      position: relative;
      padding: 20px 10px;
      margin: 50px 0;

      .person-table{
        margin-top: 25px;
        border: 1px solid @grey;

        thead{

          tr, th{
            padding: 10px;
            text-align: left;
            background: #cccccc;
            border: 1px solid @border;
          }
        }
        table{
          border-collapse: collapse;
          width: 100%;

          tr:nth-child(even) {
            background: @grey;
          }
          tr:nth-child(odd) {
            background: #FFF
          }
          .delete-tr{
            transition: 0.4s;
            color: @light-blue;
          }
          .delete-tr:hover{
            background: #ff3939;
            color: @white !important;
            transition: 0.4s;
            text-decoration: none;
          }

          td{
            border: 1px solid @border;
            padding: 10px;

            span{
              text-align: center;
              display: block;
              text-decoration: underline;
              display: block;
              cursor: pointer;
            }
          }
        }
      }

      .add-btn{
        display: block;
        padding: 10px 20px;
        background: @btn-blue;
        border: 0;
        color: @white;
        cursor: pointer;
        transition: 0.2s;
      }
      .add-btn:hover{
        background: #4fa3fc;
        transition: 0.2s;
      }

      .modal{
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
        animation-name: animacio_speed;
        animation-duration: 0.3s;

        .modal-content{
          background: #f4f4f4;
          margin: 100px auto;
          width: 30%;

          .modal-head{
            height: auto;
            position: relative;
            padding: 20px;
            background: @light-blue;
            display: flex;
            justify-content: space-between;

            span{
              color: @white;
            }

            .closeBtn{
              position: absolute;
              color: @white;
              right: 10px;
              top: 2px;
              font-size: 30px;
              transition: 0.4s;
            }

            .closeBtn:hover, .closeBtn:focus{
              color: black;
              text-decoration: none;
              cursor: pointer;
              transition: 0.4s;
            }
          }
          .modal-article{
            padding: 20px;
            word-break: break-all;
            position: relative;

            table{
              width: 100%;
              tr{
                margin-bottom: 10px;
                display: flex;

              .left-td-width{
                width: 50%;
              }
              td{
                .checkbox{
                  color: red;
                }

                width: 100%;

                input{
                  width: 100%;
                  padding: 5px;
                }
              }
              }
            }

            .button-section{
              display: flex;
              justify-content: space-around;
            }

          }
        }
      }
    }
  }
}


.checkbox-style {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.4s;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    transition: 0.4s;
    margin: 0;
    border: 1px solid grey;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
}
.checkbox-style:hover input ~ .checkmark {
  background-color: @light-grey;
  transition: 0.4s;
}

.checkbox-style input:checked ~ .checkmark {
  background-color: @light;
  transition: 0.4s;
}

.checkbox-style input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-style .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 1366px) {
  .modal-content{
    width: 45% !important;
  }
}
@media screen and (max-width: 1024px) {
  .modal-content{
    width: 60% !important;
  }
}
@media screen and (max-width: 768px) {
  .modal-content{
    width: 85% !important;
  }
}
@media screen and (max-width: 640px) {
  .modal-content{
    width: 90% !important;
  }
}

@keyframes animacio_speed {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
