
.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
}

.todoListMain .header button{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #fff;
  border: 2px solid #0066FF;
}

.todoListMain .header button:hover{
  background: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListMain .theList li{
  color: #333;
  background: grey;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;

  transition: background-color .2s ease-out;
}

.todoListMain .theList li:hover{
  background-color: #ff8282;
  cursor: pointer;
}

ul.theList {
  padding: 0;
}
